@inject FrigoService FrigoService

<h3>Add new Food</h3>

<EditForm Model="FoodCreate" OnValidSubmit="Submit" FormName="FoodCreate">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Name:
        <InputText class="form-control" @bind-Value="FoodCreate.Name" />
    </label>
    <label>
        Weight as gram:
        <InputNumber class="form-control" @bind-Value="FoodCreate.WeightAsGram" />
    </label>
    <label>
        Expires at:
        <InputDate class="form-control" @bind-Value="FoodCreate.ExpiresAt" />
    </label>
    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>

@code {
    [SupplyParameterFromForm(FormName = "FoodCreate")]
    public FoodCreateViewModel FoodCreate { get; set; } = new FoodCreateViewModel();

    [Parameter]
    public EventCallback<FoodViewModel> FoodAdded { get; set; }

    private async Task Submit()
    {
        var foodAdded = await FrigoService.AddNewFoodAsync(FoodCreate);
        if (FoodAdded.HasDelegate)
        {
            await FoodAdded.InvokeAsync(foodAdded);
        }
        FoodCreate = new FoodCreateViewModel();
    }
}
