@inject FrigoService FrigoService

<h3>Foods</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Expires In</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FoodViewModel food in FrigoFoods)
        {
            <tr>
                <th>@food.Name</th>
                <td>@food.WeightAsGramText</td>
                <td>@food.ExpireInDaysText</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private FoodViewModel[] FrigoFoods = [];

    protected override async Task OnInitializedAsync()
    {
        FrigoFoods = await FrigoService.GetFrigoFoodsAsync();
    }
}
